/*#region BLOCKS */
html {
  font-size: 16px;
}
body {
  font-family: var(--font-family);
  font-size: 1rem;
  line-height: 130%;
}

._noscroll {
  overflow: hidden;
}

.wrapper {
  min-height: 100%;

  display: flex;
  flex-direction: column;

  position: relative;
}

.container {
  max-width: 1220px;
  padding: 0 10px;
  margin: 0 auto;
}

.bar {
  width: 30px;
  height: 3px;
  margin: 2.5px auto;

  display: block;

  background-color: var(--default-black-color);
  border-radius: 6px;

  transition: all 0.3s ease;
}

.menu {
  display: flex;
  flex-direction: column;
}

.info-block {
  padding: 8px;

  display: block;

  font-weight: bold;
  color: white;

  border-radius: 5px;

  transition: all 0.3s ease;
}

.success {
  background-color: var(--success-green-color);
}

.error {
  background-color: var(--error-red-color);
}

/*#endregion */
