/*#region SECTION_ABOUT-COURIERS */
.main {
  flex-grow: 1;
}
.about-couriers {
  width: 100%;
  min-height: 100vh;

  display: flex;
  justify-content: space-between;
  align-items: center;

  gap: 80px;
}

.about-couriers__title {
  margin-bottom: 48px;
}
.about-couriers__partners {
  display: grid;
  /* grid-template-columns: repeat(3, 1fr); */
  grid-template-columns: repeat(3, minmax(150px, 1fr));
  gap: 20px;
}
.about-couriers__partner {
  height: 100px;
  padding: 20px;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: white;
  border-radius: 5px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);

  transition: transform 0.3s ease;
}

.about-couriers__partner img {
  width: 100%;
  max-width: 140px;
  max-height: 100%;

  object-fit: contain;
}
.about-couriers__right,
.about-couriers__left {
  position: relative;
  flex: 2;
}

.about-couriers__right img {
  width: 100%;
  max-height: 570px;

  object-fit: cover;
}

@media (hover: hover) and (pointer: fine) {
  .about-couriers__partner:hover {
    transform: scale(1.1);
  }
}

@media (max-width: 62.5em) {
  .about-couriers {
    height: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    gap: 30px;

    flex-direction: column;
  }
  .about-couriers__title {
    margin-bottom: 32px;
  }
  .about-couriers__left,
  .about-couriers__right {
    width: 100%;
  }
  .about-couriers__left {
    order: 2;
  }
  .about-couriers__right {
    order: 1;
  }
}
@media (max-width: 48em) {
  .about-couriers {
    margin-top: 10px;
    margin-bottom: 20px;
  }
}

@media (max-width: 40.625em) {
  .about-couriers__partners {
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  }
  .about-couriers__partner {
    height: 80px;
    padding: 10px;
  }
  .about-couriers__partner img {
    max-width: 100px;
  }
}

/*#endregion */
/*#region SECTION_contact-us__form */

.contact-us {
  min-height: 700px;

  position: relative;

  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.contact-us__image {
  width: 100%;
  height: 100%;

  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;

  object-fit: cover;
}

.contact-us__form__title {
  margin-bottom: 10px;

  color: var(--default-white-color);
}
.contact-us__form__text {
  margin-bottom: 48px;

  color: var(--default-white-color);
}

.contact-us__form__field {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  position: relative;
}
.contact-us__form__label {
  display: flex;
  align-items: center;
  gap: 8px;

  color: var(--default-white-color);
}

.contact-us__form-content {
  max-width: 720px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 40px;

  position: relative;
  z-index: 2;

  border-radius: 5px;
  background-color: var(--form-bg-color);
}

.contact-us__content {
  width: 100%;
}

.contact-us__form {
  width: 100%;

  display: flex;
  flex-direction: column;
}

.contact-us__form > *:not(:last-child) {
  margin-bottom: 30px;
}
.contact-us__form input:not([type='checkbox']),
.contact-us__form textarea,
.contact-us__form select {
  width: 100%;
}
.contact-us__form__full-name {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.contact-us__form__full-name input {
  width: 33.333%;
}
.contact-us__form__full-name .contact-us__form__error {
  max-width: 200px;
}
@media (max-width: 48em) {
  .contact-us__content {
    padding: 0;
  }
  .contact-us__form-content {
    max-width: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 20px;
  }

  .contact-us__form > *:not(:last-child) {
    margin-bottom: 15px;
  }
  .contact-us__form__full-name {
    flex-direction: column;
    gap: 10px;
  }
  .contact-us__form__full-name input {
    width: 100%;
  }
  .contact-us__form__full-name .contact-us__form__error {
    max-width: 100%;
  }
}

.contact-us__form__error {
  display: flex;
  flex-direction: column;
  margin: 5px;
}
.contact-us__form__buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
}
@media (max-width: 26.563em) {
  .contact-us__form__buttons {
    flex-direction: column;
    align-items: flex-start;
  }
}
/*#endregion */
